<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week 12</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>

    <main>
      <h1>Home</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        tempore quasi debitis quidem dolore dignissimos! Esse commodi autem
        similique quod praesentium, distinctio suscipit expedita, illum nostrum
        velit, voluptas atque fugiat!
      </p>
    </main>
  </body>
</html>
